/* common shared style  */
body{  
  font-family: "Open Sans", sans-serif;
}
.Firstprimarycolor{
    color: #fd6e0a;
}
.hiremebutton{
    border-radius: 5px;
    background: #fd6e0a;
    border: none;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
}
/* nav related style */
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0 200px;
}
.nav-title-Mary{
    color: #181818;
    font-size: 45px;
    font-weight: 800px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* Header related style */
.header{
    max-width: 1650px;
    margin: 0 auto;
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png') ;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.bannerforheader{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.bannerforheader .Profilepicture{
    width: 500px;
}
.banner-greating{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    margin-top: 0;
    margin-bottom: 30px;
}

/* Main section styles */

/* about section styles */
main{
    max-width: 1650px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
.about{
    padding: 130px;
    background: #fff8f3;
    border-radius: 30px;
    margin: 130px 0px;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
    margin: 8px;
}
.info-title{
    font-weight: normal;
}
.info-description{
    font-weight: bolder;
}
/* what I do skill related style section of main  */
#description{
    padding: 30px 150px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skills{
    padding: 30px;
    border-radius: 5px;
    background: #fffefe;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06)
}
.skill-description{
    color: #757575;
}
/* Resume section styles */
.resume-colum-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px ;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-institute{
    margin-top: 0px;
    margin-bottom: 20px;
}
.resume-item-descriptiom , .resume-item-institute{
    color: #757575;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}
.resume-container{
    margin: 30px;
}
.download-CV{
    text-align: center;
    margin-top: 100px ;
    margin-bottom: 150px;
}

/* footer style  */

footer{
    display: flex;
    max-width: 1650px;
    gap: 110px;
    background-color: #fff8f3;
    padding: 130px 30px;
    margin: 0 auto;
}
.footer-colum{
    width: 50%;
}
.social-links a{
    margin: 20px;
}
.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: white;
    border: 0;
    width: 80%;
}
