/* common shared style  */
body{  
  font-family: "Open Sans", sans-serif;
}
.Firstprimarycolor{
    color: #fd6e0a;
}
.hiremebutton{
    border-radius: 5px;
    background: #fd6e0a;
    border: none;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
}
/* nav related style */
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0 200px;
}
.nav-title-Mary{
    color: #181818;
    font-size: 45px;
    font-weight: 800px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* Header related style */
.header{
    background-color: #fff8f3;
}
.bannerforheader{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.bannerforheader .Profilepicture{
    width: 500px;

}